[include mainsail.cfg]
[include TEST_SPEED.cfg]
[include scrub.cfg]
[include macros.cfg]
[include led_effect.cfg]
[include fan_tach_monitoring.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
canbus_uuid: c7d579370bb1

[mcu MMB]
canbus_uuid: 80d9126705d5

[mcu Cubic]
canbus_uuid: d5b2b2bb8414

[measure_fan]

[resonance_tester]
accel_chip: beacon
accel_per_hz: 150
probe_points: 175, 175, 20

[temperature_sensor host]
sensor_type: temperature_host

[temperature_sensor kraken]
sensor_type: temperature_mcu

[temperature_sensor MMB_Cubic]
sensor_type: temperature_mcu
sensor_mcu: Cubic

[temperature_sensor MMB]
sensor_type: temperature_mcu
sensor_mcu: MMB

#[gcode_button caselight_auto_switch]
#pin: ^!MMB:PB10
#press_gcode: _CASELIGHT_ON
#release_gcode: _CASELIGHT_OFF

[input_shaper]
shaper_freq_x: 133
shaper_type_x: mzv
shaper_freq_y: 91.2
shaper_type_y: mzv

[motors_sync]
axes: x,y
accel_chip: beacon

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA7

[temperature_sensor motor_x]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC4

[temperature_sensor motor_x1]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC5

[temperature_sensor motor_y]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB1

[temperature_sensor motor_y1]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0

[temperature_sensor frame]
sensor_type: Generic 3950
sensor_pin: Cubic:gpio26

[temperature_sensor chamber_bottom]
sensor_type: Generic 3950
sensor_pin: Cubic:gpio27

[temperature_sensor chamber_top]
sensor_type:MAX31865
sensor_pin: PA8
spi_bus: spi3a
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[temperature_sensor chamber_combined]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber, temperature_sensor chamber_bottom, temperature_sensor chamber_top
combination_method: mean
maximum_deviation: 70

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_1AB3A9255154354D38202020FF0A2C32-if00
contact_max_hotend_temperature: 180 # increase to probe at print temps

x_offset: 0 # update with offset from nozzle on your machine
y_offset: 24 # update with offset from nozzle on your machine
home_xy_position: 175.0, 175.0 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 80
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

[printer]
kinematics: corexy
max_velocity: 750  
max_accel: 20000             #Max 4000
max_z_velocity: 50          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 500
square_corner_velocity: 20

[bed_mesh]
speed: 400
horizontal_move_z: 2
mesh_min: 30, 30
mesh_max: 320,320
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2
zero_reference_position: 175, 175

[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 340
position_max: 340
homing_speed: 120
homing_retract_dist: 5
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_x]
cs_pin: PD6
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.8
stealthchop_threshold: 0
diag1_pin: ^!PC15
home_current: 1.6
driver_SGT: 1

[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 352
position_max: 352
homing_speed: 120
homing_retract_dist: 5
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_y]
cs_pin: PD5
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.8
stealthchop_threshold: 0
diag1_pin: ^!PF0
home_current: 1.60
driver_SGT: 1

[stepper_x1]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200

[tmc5160 stepper_x1]
cs_pin: PD4
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.8
stealthchop_threshold: 0
home_current: 0.15

[stepper_y1]
step_pin: PB9
dir_pin: !PB8
enable_pin: !PB7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200

[tmc5160 stepper_y1]
cs_pin: PD3
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.8
stealthchop_threshold: 0
home_current: 0.15


## Z0 Stepper - Front Left
##  Connected to Motor_5-S5
##  Endstop connected to MIN3
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
position_max: 290

##--------------------------------------------------------------------
position_min: -5
homing_speed: 40
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to

##  TMC2160 configuration
[tmc5160 stepper_z]
cs_pin: PD2
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to Motor_6-S6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z1]
cs_pin: PA15
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to Motor_7-S7
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z2]
cs_pin: PA9
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to Motor_8-S8
[stepper_z3]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z3]
cs_pin: PA10
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_3-S3
##  Heater - HE0
##  Thermistor - TH0
[extruder]
step_pin: MMB:PB15
dir_pin: MMB:PB14
enable_pin: !MMB:PB8
#<previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>
# 23.132530122 * 97 / 100
rotation_distance: 23.1117108448
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PF6
#sensor_pin:  PA7 # T0
#sensor_type: PT1000

sensor_type: MAX31865
sensor_pin: PC9
spi_bus: spi3a
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
min_temp: 10
max_temp: 320
max_power: 1.0
min_extrude_temp: 150
heater_power: 100
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8
pwm_cycle_time: 0.0001
max_extrude_only_distance: 150
pressure_advance: 0.03

[tmc2209 extruder]
uart_pin: MMB:PA10
sense_resistor: 0.11
run_current: 0.700
stealthchop_threshold: 0


[heater_bed]
heater_pin: Cubic:gpio10
sensor_type: Generic 3950
sensor_pin: Cubic:gpio28
max_power: 0.9
min_temp: 0
max_temp: 120

[fan]
enable_pin: PF10
pin: PE8
#kick_start_time: 0.1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0
tachometer_pin: ^PG0
tachometer_ppr: 1
tachometer_poll_interval: 0.0005
min_power: 0.13
max_power: 0.89

[heater_fan hotend_fan]
pin: PA5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: ^PC0
tachometer_ppr: 1
tachometer_poll_interval: 0.0009
fan_speed: 1.0

[multi_pin nevermore_pins]
pins: Cubic:gpio6, Cubic:gpio7, Cubic:gpio8

[fan_generic Nevermore]
pin: multi_pin:nevermore_pins


[idle_timeout]
timeout: 1800

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
adaptive_horizontal_move_z: true

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[output_pin caselight]
pin: PF8
pwm: true
hardware_pwm: true
shutdown_value: 0
cycle_time: 0.0001


#[output_pin toplight]
#pin: PF9
#pwm: true
#hardware_pwm: true
#shutdown_value: 0
#cycle_time: 0.0001

[gcode_macro HOME_TIMES]
description: Runs G28 given times
gcode:

 {% set times = params.TIMES|default(1)|int %}

 {% for wipes in range(1, times) %}
     M84
     G28
 {% endfor %}

[gcode_macro _CASELIGHT_ON]
description: Helper: Light on
gcode:
  SET_PIN PIN=caselight VALUE=1.0
  {action_respond_info("Caselight on")}
    
[gcode_macro _CASELIGHT_OFF]
description: Helper: Light off
gcode:
  SET_PIN PIN=caselight VALUE=0.0
  {action_respond_info("Caselight off")}

[gcode_macro CASELIGHT]
description: Toggle light
gcode: {% if printer['output_pin caselight'].value == 0 %} _CASELIGHT_ON {% else %} _CASELIGHT_OFF {% endif %}

#[gcode_macro TOPLIGHT]
#description: Toggle light
#gcode: {% if printer['output_pin toplight'].value == 0 %} SET_PIN PIN=toplight VALUE=0.1 {% else %} SET_PIN PIN=toplight VALUE=0.0 {% endif %}

[delayed_gcode startup]
initial_duration: 1
gcode:
#  SET_PIN PIN=toplight VALUE=0.1
  SET_PIN PIN=caselight VALUE=0.5
#--------------------------------------------------------------------


#####################################################################
#   Macros
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.6042237886719592,
#*# 	  1.9630571966215304,
#*# 	  0.814921239237117,
#*# 	  0.3607024512913997,
#*# 	  0.2098528216480753,
#*# 	  0.1285185344099913,
#*# 	  -0.209863731585336,
#*# 	  -0.17993664213923502,
#*# 	  0.18056178810188336,
#*# 	  0.12926153484051242
#*# model_domain = 1.8836593463332146e-07,1.9422483697224593e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 60.125386
#*# model_offset = 0.00000
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 48.414
#*# pid_ki = 2.241
#*# pid_kd = 261.446
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 23.2423
#*# sensor_responsiveness = 0.0880634
#*# ambient_transfer = 0.147328
#*# fan_ambient_transfer = 0.147328, 0.225068, 0.246709, 0.263549, 0.277242, 0.293234, 0.307389, 0.321014, 0.336432, 0.340684, 0.340284
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.046207, 0.067063, 0.085014, 0.038264, 0.039992, 0.027163, 0.051351, 0.040602, 0.037024
#*# 	  0.015309, 0.026749, 0.063725, 0.010514, 0.014852, -0.003152, 0.022327, 0.013670, 0.003446
#*# 	  -0.010259, 0.005599, 0.035668, -0.014615, -0.011470, -0.022205, -0.002666, -0.019141, -0.027795
#*# 	  -0.010339, 0.015383, 0.038893, -0.008588, -0.012490, -0.027719, 0.000180, -0.020423, -0.029887
#*# 	  0.005721, 0.032511, 0.059535, 0.005483, 0.000000, -0.008827, 0.015873, -0.004098, -0.009466
#*# 	  0.024056, 0.046397, 0.077851, 0.029105, 0.025478, 0.019378, 0.051897, 0.029445, 0.023802
#*# 	  0.029149, 0.055648, 0.078646, 0.035205, 0.030868, 0.026817, 0.063344, 0.043285, 0.036067
#*# 	  0.032600, 0.048454, 0.077198, 0.032374, 0.025261, 0.022831, 0.058392, 0.040770, 0.046257
#*# 	  0.058130, 0.073264, 0.100074, 0.049265, 0.043089, 0.042280, 0.062918, 0.049059, 0.053177
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 320.0
#*# min_y = 30.0
#*# max_y = 320.0
#*#
#*# [motors_sync]
#*# steps_model_x = quadratic,
#*# 	-88.941646914612,
#*# 	9072.210213890708,
#*# 	-5200.670375647502
#*# steps_model_y = quadratic,
#*# 	-88.941646914612,
#*# 	9072.210213890708,
#*# 	-5200.670375647502
